  .input-button {
    min-width: 150px;
    width: auto;
    letter-spacing: 1px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    font-size: 15px;
    background-color: grey;
    text-transform: uppercase;
    font-family: "Open Sans Condensed";
    font-weight: bolder;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
  }