.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;

  .input_heading {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin: 10px auto;
  }

  .input-field {
    box-sizing: border-box;
    width: 25%;
    padding: 10px 10px 10px 5px;
    margin: 10px auto;
    font-size: 16px;
  }

  .input-button {
    min-width: 150px;
    width: auto;
    letter-spacing: 1px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    font-size: 15px;
    background-color: grey;
    text-transform: uppercase;
    font-family: "Open Sans Condensed";
    font-weight: bolder;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
  }
}
